{% extends "geodashserver/map.html" %}

{% block title %}GeoDash - Explore{% endblock %}

{% block extra_head %}{{ block.super }}{% endblock %}

{% block init %}{{ block.super }}{% endblock %}

{% block initial_data %}
<script type="text/javascript" language="Javascript">
    geodash.initial_data =
    {
      "data": {
        "dashboards_typeahead": {{ GEODASH_DASHBOARDS_TYPEAHEAD|safe }}
      }
    }
</script>
{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block map_controllers %}
<div class="geodashserver-welcome-modals">
  <div
    id="geodashserver-modal-welcome"
    class="geodash-controller geodash-modal modal fade geodashserver-welcome"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel">
    <div
      id="geodashserver-welcome"
      geodashserver-modal-welcome></div>
  </div>
</div>
{% endblock %}

{% block extra_content %}{% endblock %}

{% block footer %}{% endblock %}
