{% extends "geodash/wrapper_text.html" %}

{% load geodash_tags %}

{% block head_fonts %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block head_bootstrap_css %}
<link href="{{ STATIC_URL }}geodashserver/build/bootstrap/bootstrap.css" rel="stylesheet"/>
{% endblock %}

{% block head_main_css %}
<link href='{{ STATIC_URL }}geodashserver/build/css/main.css?v={{ GEODASH_SERVER_STATIC_VERSION }}' rel='stylesheet' />
{% endblock %}

{% block head_main_js %}
{{ block.super }}
{% if GEODASH_SERVER_STATIC_DEBUG.main %}
<script src="{{ STATIC_URL }}geodashserver/build/js/monkeypatch.js?v={{ GEODASH_SERVER_STATIC_VERSION }}"></script>
<script src="{{ STATIC_URL }}geodashserver/build/js/main.js?v={{ GEODASH_SERVER_STATIC_VERSION }}"></script>
{% else %}
<script src="{{ STATIC_URL }}geodashserver/build/js/monkeypatch.min.js?v={{ GEODASH_SERVER_STATIC_VERSION }}"></script>
<script src="{{ STATIC_URL }}geodashserver/build/js/main.min.js?v={{ GEODASH_SERVER_STATIC_VERSION }}"></script>
{% endif %}
{% endblock %}

{% block header %}{% include "geodashserver/_includes/header.html" %}{% endblock %}

{% block footer %}{% include "geodashserver/_includes/footer.html" %}{% endblock %}
